<!--The whole content below can be removed with the new code.-->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="title">
        <h2>Outlook Scheduler</h2>
    </div>

      <button
        class="btn btn-primary btn-margin"
        routerLink="/">
          Home
      </button>

      <button
        class="btn btn-primary btn-margin"
        *ngIf="!auth.isAuthenticated()"
        (click)="auth.login()">
          Log In
      </button>

      <button
        class="btn btn-primary btn-margin"
        *ngIf="auth.isAuthenticated()"
        (click)="auth.logout()">
          Log Out
      </button>

    </div>
  </div>
</nav>

<main class="container">
  <p *ngIf="auth.isAuthenticated()"><button
    class="btn btn-primary btn-margin"
    routerLink="/profile">
      See Profile
  </button>
</p>
  <p *ngIf="auth.isAuthenticated()">
    <button class="btn btn-primary btn-margin dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
      Rooms
     <span class="caret"></span>
   </button>
   <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="#">Room 1</a></li>
      <li><a href="#"> Room 2</a></li>
      <li><a href="#">Room 3</a></li>
    </ul>

  <router-outlet></router-outlet>
