<div>
</div>
<div class="row">
    <div class="col-sm-3">
        <div class="card">
          <p>Welcome {{profile.name}}!</p>

            <div class="avatar">
                <img src="http://www.limestone.edu/sites/default/files/user.png" alt="" style="width:200px;height:200px;"/>
            </div>
            <div class="content">
                <p> <br>
                   </p>
                <p><button
                  class="btn btn-primary btn-margin"
                  routerLink="/profile">
                    Contacts
                </button>
                <button
                  class="btn btn-primary btn-margin"
                  routerLink="/profile">
                    Calendar
                </button></p>
            </div>
        </div>
    </div>
